<div class="col-4">
	<div class="card bg-light my-5 shadow">
		<h3 class="card-header">{{ articles.title | capitalize }}</h3>
		<img height="350px" src="{{ articles.image }}" alt="Card image">
		<div class="card-body">
			<p class="card-text">{{ articles.intro }}</p>
			<a href="#" class="btn btn-primary rounded">Lire la suite</a>
			<div class="my-3">
				<a href="#" class="card-link">{{ articles.author }}</a>
			</div>
		</div>
		<div class="card-footer text-muted">
			Il y a 2 jours
		</div>
	</div>
</div>
