{% extends "base.html.twig" %}

{% block title %}Articles{% endblock %}

{% block body %}
<h1 class="my-5 text-center">Publier une Article</h1>

<div class="container my-3">
{{form(form)}}
</div>


{% endblock %}